node_modules/
.cache/
backend/node_modules/
node_modules
dist
build
.env
.DS_Store
coverage
.vscode
backend/logs/
logs/
*.log
backend/tools/
backend/credentials/
backend/vtfree-apps-*.json
tools/jdk-17.0.2/
tools/jdk.tar.gz
