# Server Configuration
PORT=3000
NODE_ENV=development

# Zainpay API Configuration
ZAINPAY_BASE_URL=https://sandbox.zainpay.ng
ZAINPAY_PUBLIC_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3phaW5wYXkubmciLCJpYXQiOjE3NjUzNzYwNjcsImlkIjozOTQxMTZlNy1mNGE0LTQ1ZmEtOWU3NS01Y2I0N2MxMDZiMTgsIm5hbWUiOnZ0ZnJlZTIwMjVAZ21haWwuY29tLCJyb2xlIjp2dGZyZWUyMDI1QGdtYWlsLmNvbSwic2VjcmV0S2V5Ijp5R1g0dDNYYU1QOTAzVnlQRG1ya0dweW15NEd3NlQ3VTNWNm1pSXdlcHNlYmF9.2fg6xS32puyeWuBTXtY9Hp7QJW5r6kn-oV1ZJ-RV8qI
ZAINPAY_SECRET_KEY=yGX4t3XaMP903VyPDmrkGpymy4Gw6T7U3V6miIwepseba
ZAINPAY_ZAINBOX_CODE=VTFRE_MVwgOGy1AOoZjQg889GR

# JWT Configuration
JWT_SECRET=your_jwt_secret_here_change_in_production
JWT_EXPIRES_IN=7d

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/vtpay

# Webhook Configuration
WEBHOOK_BASE_URL=https://your-domain.com/api/webhooks/zainpay
